<html>
  <head>
    <title> My Blog </title>

  </head>

  <body>
    <button 
      hx-get="/posts" 
      hx-swap="outerHTML"
    > Load posts </button>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  </body>


</html>
